<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <%- include('nav.ejs') %>
    <form action="/house_name/Gryffindor">
        <button type="submit">Gryffindor</button>
    </form>

    <form action="/house_name/Hufflepuff">
        <button type="submit">Hufflepuff</button>
    </form>

    <form action="/house_name/Ravenclaw">
        <button type="submit">Ravenclaw</button>
    </form>

    <form action="/house_name/Slytherin">
        <button type="submit">Slytherin</button>
    </form>
</body>

</html>